.App {
  height: 100vh;
  text-align: center;
  background-color: azure;
}

.task_container {
  text-align: left;
  margin: 2vh;
}

.task_header {
  font-size: x-large;
  background-color: cornflowerblue;
}

.task_header_create {
  font-size: x-large;
  background-color: darkorange;
}

.task_create_form_container {
  padding: 1%;
}

.task_create_container_title {
  font-size: x-large;
}

.task_create_label_title {
  font-size: x-large;
}

.task_create_input_title {
  font-size: medium;
  width: 70%;
}

.task_create_container_text {
  font-size: x-large;
}

.task_create_label_text {
  font-size: x-large;
}

.task_create_textarea_text {
  font-size: medium;
  width: 70%;
}

.task_create_container_submit {
  margin-top: 2%;
}

.no_tasks_text {
  font-size: xx-large;
}

.contact_container {
  text-align: left;
  margin: 2vh;
}

.contact_text_container {
  font-size: large;
}

.contact_header_container {
  text-align: center;
  font-size: xx-large;
}

.about_text_container {
  font-size: large;
}

.about_header_container {
  text-align: center;
  font-size: xx-large;
}
